<mat-toolbar color="primary">
  <span style="margin-right: 80px">
    Bohemia Hospedagem
  </span>
  <div style="width:80%">
    <a routerLink="/" class="alpha-link" routerLinkActive="active">Página inicial</a>
    <a [hidden]="!logged" routerLink="/data-access" class="alpha-link" routerLinkActive="active">Dados de acesso</a>
  </div>
  <div style="width:20%; text-align: end">
    <a [hidden]="logged" routerLink="/account" class="alpha-link" routerLinkActive="active">Criar conta</a>
    <a [hidden]="logged" routerLink="/login" class="alpha-link" routerLinkActive="inactive">Entrar</a>
    <a [hidden]="!logged"  routerLink="/" class="alpha-link" (click)="logout()">Sair</a>
  </div>
</mat-toolbar>
<div style="margin: 50px">
  <router-outlet></router-outlet>
</div>
